[Unit]
Description = Cart Service
[Service]
User=roboshop
Environment=REDIS_HOST={{ lookup('hashi_vault', 'roboshop-{{env}}/data/cart:REDIS_HOST token={{ vault_token }} url=http://vault-internal.tejadevopsb81.icu:8200')}}
Environment=CATALOGUE_HOST={{ lookup('hashi_vault', 'roboshop-{{env}}/data/cart:CATALOGUE_HOST token={{ vault_token }} url=http://vault-internal.tejadevopsb81.icu:8200')}}
Environment=CATALOGUE_PORT={{ lookup('hashi_vault', 'roboshop-{{env}}/data/cart:CATALOGUE_PORT token={{ vault_token }} url=http://vault-internal.tejadevopsb81.icu:8200')}}
ExecStart=/bin/node /app/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target